<form [formGroup]="mcrmessagesForm" class="userEditor form-horizontal">
  <div formArrayName="mcrMessages">
    <table class="simple-table">
      <tr>
        <th>MyCore Message Key</th>
        <th>MyCore Message Value</th>
      </tr>
      <tbody>
      <tr [formGroupName]="i" *ngFor="let item of mcrmessagesForm.controls.mcrMessages.controls; let i = index">
        <td>{{item.value.mcrmessage.messagekey}}</td>
        <td><input class="form-control input-md " type="textarea" defaultValue="{{item.value.mcrmessage.messagevalue}}">
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</form>
<br><br>
<button (click)='saveMcrMessages()'>Speichern</button>
