<form [formGroup]="mcrmessagesForm">

  <div formArrayName="mcrMessages">
    <table class="simple-table">
      <tr>
        <th>MyCore Message Key</th>
        <th>MyCore Message Value</th>
      </tr>
      <tbody>
      <tr [formGroupName]="i" *ngFor="let item of mcrmessagesForm.controls.mcrMessages.controls; let i = index">
        <td>{{item.value.mcrmessage.messagekey}}</td>
        <!--<td><input type="text" formControlName="value"/></td>-->
        <!--<td><input type="text" formControlName="fixed"></td>-->
      </tr>
      </tbody>
    </table>
  </div> <!-- end: div FormArrayName -->
</form>
<br><br>
<!--<button (click)='abc()'>fsdfsdfsdf</button>-->
