<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h4>Über uns</h4>
      <p>
        MIR ein klassicher institutioneller Publikations- bzw. Dokumentenserver. Es basiert auf dem Repository-Framework MyCoRe und
        dem Metadata Object Description Schema (MODS).
        <span class="read_more"><a href="#">Mehr erfahren ...</a></span>
      </p>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
      <h4>Navigation</h4>
      <ul class="internal_links">
        <li class="active">
          <a href="#">Start</a>
        </li>
        <li>
          <a href="#">Impressum</a>
        </li>
        <li>
          <a href="#">Kontakt</a>
        </li>
      </ul>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
      <h4>Netzwerke</h4>
      <ul class="social_links">
        <li>
          <a href="#"><button class="social_icons social_icon_fb" type="button"></button>Facebook</a>
        </li>
        <li>
          <a href="#"><button class="social_icons social_icon_tw" type="button"></button>Twitter</a>
        </li>
        <li>
          <a href="#"><button class="social_icons social_icon_gg" type="button"></button>Google+</a>
        </li>
      </ul>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
      <h4>Layout based on</h4>
      <ul class="internal_links">
        <li>
          <a href="http://www.mycore.de/mir/mir-layout/template/flatmir.xml">flatmir</a>
        </li>
        <li>
          <a href="http://getbootstrap.com/">Bootstrap</a>
        </li>
        <li>
          <a href="http://bootswatch.com/">Bootswatch</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="powered_by">
  <a href="http://www.mycore.de"><img alt="powered by MyCoRe" title="" src="http://www.mycore.de/mir/mir-layout/images/mycore_logo_small_invert.png"></a>
</div>