<div id="header_box" class="container">

  <!--<div class="mir-prop-nav" id="options_nav_box">-->
  <!--<nav>-->
  <!--<ul class="nav navbar-nav pull-right">-->
  <!--<li class="dropdown mir-lang">-->
  <!--<a title="Sprache wechseln" data-toggle="dropdown" aria-expanded="false">de<span class="caret"></span></a>-->
  <!--<ul role="menu" class="dropdown-menu language-menu">-->
  <!--<li>-->
  <!--<a title="English" href="http://localhost:8080/mir/content/index.xml;jsessionid=73E80E38EA064055D98FD86FFB671344?lang=en">en</a>-->
  <!--</li>-->
  <!--<li>-->
  <!--<a title="italiano" href="http://localhost:8080/mir/content/index.xml;jsessionid=73E80E38EA064055D98FD86FFB671344?lang=it">it</a>-->
  <!--</li>-->
  <!--</ul>-->
  <!--</li>-->
  <!--</ul>-->
  <!--</nav>-->
  <!--</div>-->


  <div class="mir-prop-nav" id="options_nav_box">

    <ul class="nav navbar-nav pull-right">

      <li>
        <a routerLink="loginarea" id="loginURL">{{ 'messages.component.user2.button.login' | translate}}</a>
      </li>

      <li class="dropdown mir-lang">
        <div dropdown>


          <a dropdownToggle title="Sprache wechseln" aria-expanded="true">{{settedLanguage}}<span class="caret"></span></a>


          <!--<button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">-->
          <!--Spracheinstellungen <span class="caret"></span>-->
          <!--</button>-->
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li *ngFor="let mcrlanguage of mcrlanguageParams.availablelang | elementremove: settedLanguage" role="menuitem">
              <a class="dropdown-item" (click)="switchLanguage(mcrlanguage)">{{ mcrlanguage }}</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>

  </div>

  <div id="project_logo_box">
    <a class="logo_link" href="#" [routerLink]="['../mir']">
      <span id="logo_mir">mir</span>
      <span id="logo_modul">mycore</span>
      <span id="logo_slogan">mods institutional repository</span>
    </a>
  </div>
</div>
<mir-navigation></mir-navigation>
