<div class="mir-start_page">
  <div class="jumbotron">
    <div class="container">
      <h1>Mit MIR wird alles gut!</h1>
      <h2>your repository - just out of the box</h2>
    </div>
  </div>
  <section>
    <div id="page" class="container">
      <div id="main_content">
        <div class="jumbotwo">
          <div class="row">
            <div class="col-xs-12">
              <h2>Mods Institutional Repository (MIR)</h2>
            </div>
            <div class="col-md-4">
              <h3>
                <span class="fa fa-check"></span> fertig</h3>
              <p>MIR ist eine MyCoRe-Software, die mit nur wenigen Anpassungen - so wie sie ist - als Repositorium eingesetzt
                werden kann.</p>
              <p>
                <a class="btn btn-default" href="http://mycore.de/documentation/getting_started/mir.html" role="button">weitere Informationen »</a>
              </p>
            </div>
            <div class="col-md-4">
              <h3>
                <span class="fa fa-flash"></span> mächtig</h3>
              <p>MIR verwendet das mächtige und bewährte MODS-Datenmodell. Den Kern der Webanwendung bildet MyCoRe mit einer Vielzahl
                von Funktionen.</p>
              <p>
                <a class="btn btn-default" href="http://mycore.de/features/index.html" role="button">weitere Informationen »</a>
              </p>
            </div>
            <div class="col-md-4">
              <h3>
                <span class="fa fa-heart"></span> lebendig</h3>
              <p>MIR basiert auf dem Software-Kern MyCoRe, der kontinuierlich weiter entwickelt wird. Eine lebendige Community
                setzt MIR in ihren Anwendungen ein.</p>
              <p>
                <a class="btn btn-default" href="http://mycore.de/support/index.html" role="button">weitere Informationen »</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>  