<!--The content below is only a placeholder and can be replaced.-->
<div id="main_content">
  <h3>
    {{ 'messages.selfRegistration.step.create.title' | translate}}
  </h3>
  <p>
    {{ 'messages.selfRegistration.step.create.info' | translate }}
  </p>


  <form [formGroup]="registrationForm" (ngSubmit)="addPost(registrationForm.value)" class="userEditor form-horizontal"
        role="form"
        action="http://localhost:8291/mir/servlets/XEditor"
        method="post">
    <div xmlns:mcruser="http://www.mycore.de/components/mcruser" xmlns:xed="http://www.mycore.de/xeditor"
         class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{ 'messages.component.user2.admin.create.title' | translate}}

        </h3>
      </div>
      <div class="panel-body">
        <div class="form-group   required ">
          <label class="col-md-3 control-label">
            {{ 'messages.component.user2.admin.userAccount' | translate}}

          </label>
          <div class="col-md-9 ">
            <input type="text" formControlName="localuser_identification" maxlength="16" pattern="[a-z0-9\._-]*">
            <div class="registrationAlert"
                 *ngIf="!registrationForm.controls['localuser_identification'].valid && registrationForm.controls['localuser_identification'].touched">
              {{ 'messages.component.user2.admin.inputhints.username' | translate }}
            </div>
          </div>
        </div>

        <div class="form-group   required ">
          <label class="col-md-3 control-label">
            {{ 'messages.component.user2.admin.realName' | translate}}
          </label>

          <div class="col-md-9 ">
            <input type="text" formControlName="localuser_name" maxlength="64"
                   placeholder="{{ 'messages.mir.register.realName' | translate}}">
            <div class="registrationAlert"
                 *ngIf="!registrationForm.controls['localuser_name'].valid && registrationForm.controls['localuser_name'].touched">
              {{ 'messages.selfRegistration.realName.required' | translate}}
            </div>
          </div>
        </div>

        <div class="form-group   required ">
          <label class="col-md-3 control-label">
            {{ 'messages.component.user2.admin.email' | translate}}
          </label>

          <div class="col-md-9 ">
            <input type="text" formControlName="localuser_mail" maxlength="64" pattern="\S+@\S+\.\S+"
                   placeholder="your.mail@address.de">
            <div class="registrationAlert"
                 *ngIf="!registrationForm.controls['localuser_mail'].valid && registrationForm.controls['localuser_mail'].touched">
              {{ 'messages.component.user2.admin.email.syntax' | translate}}
            </div>
          </div>
        </div>

        <div class="form-group   required ">
          <label class="col-md-3 control-label">
            {{ 'messages.component.user2.admin.password' | translate}}
          </label>

          <div class="col-md-9 ">
            <input type="password" formControlName="localuser_password" matches="[\S]*">
            <div class="registrationAlert"
                 *ngIf="!registrationForm.controls['localuser_password'].valid && registrationForm.controls['localuser_password'].touched">
              {{ 'messages.component.user2.admin.inputhints.password' | translate}}
            </div>
          </div>
        </div>

        <div class="form-group   required ">
          <label class="col-md-3 control-label">
            {{ 'messages.component.user2.admin.passwordRepeat' | translate}}
          </label>

          <div class="col-md-9 ">

            <input type="password" formControlName="localuser_password_repeat" matches="[\S]*">
            <div class="registrationAlert"
                 *ngIf="!registrationForm.controls['localuser_password_repeat'].valid && registrationForm.controls['localuser_password_repeat'].touched">
              {{ 'messages.component.user2.admin.inputhints.password' | translate}}
            </div>
          </div>
        </div>

      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <!--<input type="submit" class="button expanded" value="Submit Form" [disabled]="!rForm.valid">-->
          <button name="_xed_submit_servlet:MirSelfRegistrationServlet" class="btn btn-primary btn-md" type="submit"
                  [disabled]="!registrationForm.valid">
            {{ 'messages.component.user2.button.save' | translate }}

          </button>
          <button name="_xed_submit_cancel" class="btn btn-default btn-md" type="submit">
            {{ 'messages.component.user2.button.cancel' | translate }}

          </button>
        </div>
      </div>
    </div>
  </form>
</div>
