<form [formGroup]="mcrmessagesForm" class="userEditor form-horizontal">
  <div formArrayName="mcrMessages" *ngIf="mcrmessagesForm.controls.mcrMessages.controls.length !== 0">

    <div class="mcrmessages_options">
      <span class="badge badge-pill badge-default">MCR Messages Optionen</span>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" (change)="changeShowMissingTranslations($event)"
                 [checked]="this.showMissingTranslations">
          Fehlende Übersetzung markieren
        </label>
      </div>

      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" (change)="changeShowDefaultTranslations($event)"
                 [checked]="this.showDefaultTranslations">
          Standardübersetzung markieren ( MCR.Metadata.DefaultLang = {{mcrMessagesServiceModel.mcrMaintainLanguage}} )
        </label>
      </div>
    </div>


    <table class="simple-table">
      <tr>
        <th>MyCore Message Key</th>
        <th>MyCore Message Value</th>
      </tr>
      <tbody>
      <tr class="mcrmessages_container" [formGroupName]="i"
          *ngFor="let item of mcrmessagesForm.controls.mcrMessages.controls; let i = index">
        <td>{{item.value.mcrmessage.messagekey}}</td>
        <td>

          <div [ngClass]="{
          'has-error has-feedback': (this.showDefaultTranslations && item.value.mcrmessage.isOnlyDefaultTranslation)
          || (this.showMissingTranslations && item.value.mcrmessage.isNoTranslation)}">
          <textarea class="form-control" formControlName="changedValue"
                    rows="5" [value]="item.value.mcrmessage.messagevalue"></textarea>
          </div>
        </td>
      </tr>

      <tr>
        <td></td>
        <td>
          <div class="panel-footer clearfix">
            <div class="pull-right">
              <button class="btn btn-primary btn-md" (click)='saveMcrMessages()'>Speichern</button>
              <button class="btn btn-default btn-md">Abbrechen</button>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</form>
<br><br>

